body {
  background-image: url('portrait-56.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
}
#header {
  background-color: black;
  font-family: Montserrat;
  opacity: 0.8;
  padding-bottom: 5px;
}