/* 
body {
  background-image: url('portrait.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
}
*/
.container {
  position: relative;
}
.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 300%;
  color: white;
  font-family: Roboto;
  font-weight: 300;
  background-color: rgba(29, 29, 29, 0.3);
  text-align: center;
  padding: 5px;
}
.col-sm-4 {
  font-size: 50%;
  color: white;
  font-family: Roboto;
}
#opening {
  font-size: 150%;
  color: white;
  font-family: Roboto;
  font-weight: 300;
}
a.link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}