body {
  background-color: powderblue;
}
.moon {
  background-size: 200px 200px
}
  a:link {
        color: palevioletred;
        background-color: transparent;
        text-decoration: none;
      }
      a:visited {
        color: peru;
        background-color: transparent;
        text-decoration: none;
      }
      a:hover {
        color: green;
        background-color: transparent;
        text-decoration: underline;
      }
      a:active {
        color: pink;
        background-color: transparent;
        text-decoration: underline;
      }